* { padding: 0; margin: 0; }

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

html, body {
	height:100%;
}

a {
	color: blue;
}


#wrapper { 
	margin: 0 auto;
	width: 922px;
	min-height: 100%;
}

#header {
	color: #333;
	width: 900px;
	float: left;
	padding: 10px;
	border: 1px solid #ccc;
	height: 100px;
	margin: 10px 0px 0px 0px;
	background: LightSteelBlue;
}

#navigation {
	float: left;
	width: 900px;
	color: #333;
	padding: 10px;
	border: 1px solid #ccc;
	margin: 0px 0px 0px 0px;
	background: SteelBlue;
}

#leftcolumn { 
	color: #333;
	border: 1px solid #ccc;
	background: LightSteelBlue;
	margin: 0px 0px 0px 0px;
	padding: 10px;
	min-height: 400px;
	height: 100%;
	width: 200px;
	float: left;
}

#rightcolumn { 
	float: right;
	color: #333;
	border: 1px solid #ccc;
	margin: 0px 0px 0px 0px;
	padding: 10px;
	min-height: 400px;
	height: 350px;
	width: 678px;
	display: inline;
	height: auto !important;
}

#footer {
	width: 900px;
	clear: both;
	color: #333;
	border: 1px solid #ccc;
	background: SteelBlue;
	margin: 0px 0px 10px 0px;
	padding: 10px;
}